img {
    width: 300px;
}

header {
    background-color: rgb(0, 0, 0);
    /* Cor de fundo*/
    color: rgb(110, 3, 132);
    /* Cor da letra */
    text-align: center;
    /* alinhamento do texto */
    max-width: 800px;
    /* largura maxima */
    margin: 0 auto;
    /* espaço entre a borsa e o conteudo */
    padding: 16px;
    /* espaço entre o conteudo */
}

main {
    background-color: blueviolet;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.artigo-autor {
    font-weight: bold;    /* espessura da fonte - negrito */
}

article {
    display: flex; /* conâiner flexivel */
}